
.cart-page {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.cart-page h1 {
  font-size: 1.7rem;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.cart-page ul {
  list-style-type: none;
  padding: 0;
}

.cart-page li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.cart-image {
  display: flex;
  align-items: center;
}

.cart-image img {
  width: 250px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 50px;
}

.cart-image span {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
  margin-right: 50px;
}

.cart-image select,
.cart-image input[type="number"] {
  padding: 5px;
  margin-right: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100px;
}

.cart-image input[type="number"] {
  text-align: center;
}

.cart-image button {
  background-color: #e74c3c;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.cart-image button:hover {
  background-color: #c0392b;
}

.cart-image span.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ae2727;
  margin-right: 10px;
}

.cartitems-down {
  margin-top: 30px;
}

.cartitems-total {
  max-width: 500px;
  border: 1px solid #e0e0e0;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.cartitems-total h1 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.cartitems-total-item {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.cartitems-total-item h3 {
  font-size: 1.5rem;
  margin: 0;
}

.cartitems-total-item p,
.cartitems-total-item h3 {
  margin: 0;
}

.cartitems-total button {
  width: 50%;
  padding: 12px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
}

.cartitems-total button:hover {
  background-color: #ae2727;
}

@media (max-width: 768px) {
  .cart-page li {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-image {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-image img {
    margin-bottom: 10px;
  }

  .cartitems-total {
    padding: 15px;
  }

  .cartitems-total button {
    font-size: 1rem;
    padding: 10px;
  }
} 
